<div class="container">
	<h1>About</h1>
	<p>The Bike Store is the destination European Motorcycle Dealership in Southern California. No other dealer provides a more convenient, easy to access facility with 8400 square feet of Sales, Service, Apparel, Accessories and Parts with 20,000 square feet of parking one half mile from the ocean. </p>

	<p>Our large Showroom has the best selection of Motorcycles from Ducati and Triumph, all displayed with room around each to enjoy from every angle. We have a complete selection of casual apparel and riding gear from Ducati, Triumph, and Revit with two full size dressing rooms. </p>

	<p>Whether you have come to service your bike or just hang out, we have a nicely appointed lounge with refreshments and big screen TVs where we also host World Superbike and Moto GP viewing parties. Our team are all handpicked European Motorcycle Specialists and all the best in the industry. </p>

	Check out our <%= link_to 'Featured Products', 'static_pages/landing_page' %>
</div>

