
<div class="container">
	<div class="row">
		<h1 class="text-center">Bikes, bikes & MORE BIKES!</h1>
		<h2>This is the Bike Store, your resource for used bikes.</h2>
		<p class="text-center">The date and time is now <%= Time.now %></p>

	</div> 
</div> 