.logoType {
	font-family: 'Pacifico', cursive;
	color: red;
}

.titleSize {
	font-size: 4em;
}

h1, h2, h3, h4 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}

body {
	padding-top: 60px;
	padding-bottom: 60px;
}

.centerMargins {
	margin: 0 auto;
}

.btn-lrg {
	margin-top: 20px;
}

.navbar-form {
	margin-top: 13px;
	float: right;
}

.navbar-form label {
	color: white;
}

label {
	color: black;
}

#comment_body {
	width: 100%;
}