<div class="container">
  <h1>Current Product Listing</h1>

<% cache (cache_key_for_products) do %>
  <%= render @products %>
<% end %>

<%= link_to 'New Product', new_product_path, class: 'btn btn-lrg btn-primary btn-block' %>
</div> 
